body {
  margin: 0;
  text-align: center;
}

h1 {
  margin: 0 auto 0 auto;
  font-family: 'Permanent Marker', cursive;
  font-size: 5rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 2.5rem;
  margin: 10px auto;
  color: #66BFBF;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  color: #11999E;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #40514E;
}

a {
  color: #11999E;
  margin: auto 10px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

hr {
  border-style: dotted none none none;
  border-width: 5px;
  border-color: #EAF6F6;
  width: 5%;
  margin: 50px auto;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 50px auto;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 35px 0 20px;
}

.pro {
  text-decoration: underline;
}

.programmer {
  font-weight: normal;
}

.top-cloud {
  position: absolute;
  right: 200px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.skill-row {
  width: 50%;
  margin: 75px auto;
  text-align: left;
  line-height: 2;
}


.scoreboard-icon {
width: 25%;
float: left;
margin-right: 30px;
}

.pm-icon {
width: 25%;
float: right;
margin-left: 30px;

}

.agile-icon {
width: 25%;
float: left;
margin-right: 30px;

}

.footer-link {
  color: #11999E;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0 0;
}

.btn {
	background-color:#66bfbf;
	border-radius:12px;
	border:1px solid #66bfbf;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size:17px;
	padding:12px 31px;
	text-decoration:none;
  margin-top: 10px;
}
.btn:hover {
	background-color:#30e3cb;
	border:1px solid #30e3cb;
}
.btn:active {
	position:relative;
	top:1px;
}
